{% extends 'base.html' %}
{% load static %}

{% block title %} JS Quiz | Home {% endblock title %}
{% block content %}

<body>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>JUNIOR SCIENTICA</h1>
          <h2>Test your skills and become a master.</h2>
          <!-- <h4>Right from the inception of intellect in man, there has been a zeal in the brainiacs to prove their potential in front of the entire world. ‘Scientica’- a mind buzzing carnival witnessing the battle of the best minds, from different corners of the entire nation, in an enthralling game of general & technical quiz, which provides opportunity to the enthusiasts of today</h4> -->
          <h4>Start Your Test Here:</h4>

          {% if not request.user.is_active %}

          <a href="{% url 'quiz:register' %}" class="get-started-btn scrollto"><i class="fa fa-user-plus" aria-hidden="true"></i> SignUp</a>
<!--          <a href="{% url 'quiz:login' %}" class="get-started-btn scrollto"><i class="fa fa-user-plus" aria-hidden="true"></i> Login</a>-->
          {% else %}
          <a href="{% url 'quiz:play' %}" class="get-started-btn scrollto"><i class="fas fa-play" aria-hidden="true"></i> Let's play</a>
          <a href="{% url 'quiz:leaderboard' %}" class="get-started-btn scrollto"><i class="fas fa-book-reader" aria-hidden="true"></i> Leaderboard</a>

        {% endif %}

        </div>
      </div>
    </div>
  </section><!-- End Hero --><!-- End Hero -->

    <section id="services" class="services">
      <div class="container">

        <div class="section-title" style="margin: auto;">
          <h2>OUR PATRONAGE</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="icon-box3">
              <div class="dkimg"><img src="{% static 'assets/img/director.jpg'%}"></div>
              <h4><a href=""> prof. Dr. D.K. Singh</a></h4>
                <h5><i>Director B.I.T. Sindri</i></h5>
              <!-- <p>"It gives me immense pleasure that the Model Club, the technical club of our college is providing a platform to the students to float their innovative ideas. It started as a vision that SANDHAAN remains a consistent part of the scientific development of youth from BIT Sindri."</p> -->
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box3">
              <div class="dkimg"><img src="{% static 'assets/img/RPGupta.jpg'%}"></div>
              <h4><a href=""> prof.Dr. R.P. gupta</a></h4>
                <h5><i>Prof. Incharge Model Club</i></h5>
              <!-- <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p> -->
            </div>
          </div>
          </div>
        </div>
      </section>
</body>
{% endblock content %}