{% load static %}


<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>JSQuiz | SignIn</title>
    <link rel="shortcut icon" href="{%static 'assets/img/title.png'%}" type="image/png">
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{%static 'assets/img/favicon.png'%}" rel="icon">
    <link href="{%static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'assets/vendor/icofont/icofont.min.css'%}" rel="stylesheet">
    <link href="{%static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
    <link href="{%static 'assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
    <link href="{%static 'assets/vendor/venobox/venobox.css'%}" rel="stylesheet">
    <link href="{%static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{%static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{%static 'assets/css/form.css' %}" rel="stylesheet">
</head>


<body>

<header id="header1" class="fixed-top ">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-xl-9 d-flex align-items-center justify-content-between">
                <h1 class="logo"><img src="{%static 'assets/img/bitlogo.png' %}" style="width: 35px"><img
                        src="{%static 'assets/img/clogo.png' %}" style="width: 40px"></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                <nav class="nav-menu d-none d-lg-block">
            <ul>
              <!-- <li class="active"><a href="index.html">Home</a></li> -->
<!--              <li><a href="{% url 'quiz:home' %}">Home</a></li>-->
<!--              <li><a href="{% url 'quiz:leaderboard' %}">LeaderBoard</a></li>-->
              {% if not request.user.is_active %}
              <li><a href="{% url 'quiz:leaderboard' %}" ><i class="fas fa-book-reader" aria-hidden="true"></i> LeaderBoard</a></li>
              <li><a href="{% url 'quiz:login' %}" ><i class="fa fa-sign-in" aria-hidden="true"></i>LogIn</a></li>
              {% else %}
              <li><a href="{% url 'quiz:play' %}" >Welcome, {{ request.user.username }} | </a></li>
              <li><a href="{% url 'quiz:play' %}" ><i class="fas fa-play" aria-hidden="true"></i> Lets Play</a></li>
              <li><a href="{% url 'quiz:logout' %}" ><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a></li>
              {% endif %}


            </ul>
          </nav><!-- .nav-menu -->
            </div>
        </div>

    </div>
</header><!-- End Header -->
<div class="container">

    {% if not request.user.is_active %}

    <div class="container">
        <br>
        <br>
        <br>
        <form method="post" action="" id="login-form" class="login-form" autocomplete="off" role="main">
            <figure aria-hidden="true">
                <div class="person-body"></div>
                <div class="neck skin"></div>
                <div class="head skin">
                    <div class="eyes"></div>
                    <div class="mouth"></div>
                </div>
                <div class="hair"></div>
                <div class="ears"></div>
                <div class="shirt-1"></div>
                <div class="shirt-2"></div>
            </figure>
            <h1 class="a11y-hidden">Login Form</h1>
            {% csrf_token %}
            <div>
                <label class="label-email">
                    <input type="text" class="text" name="username" id="username" placeholder="username" tabindex="1" required/>
                    <span class="required">Username</span>
                </label>
            </div>
            <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password"
                   tabindex="3"/>
            <div>
                <label class="label-password">
                    <input type="text" class="text" name="password" id="password" placeholder="Password" tabindex="2" required/>
                    <span class="required">Password</span>
                </label>
            </div>
<!--            {{form }}-->
            <input class="get-started-form scrollto" type="submit" value="Log In"/>
            <br>
            <div class="text-center">
                <p>or ...</p>
                <a href="{% url 'quiz:register' %}" class="get-started-form scrollto">Create account</a>
            </div>
<!--            <figure aria-hidden="true">-->
<!--                <div class="person-body"></div>-->
<!--                <div class="neck skin"></div>-->
<!--                <div class="head skin">-->
<!--                    <div class="eyes"></div>-->
<!--                    <div class="mouth"></div>-->
<!--                </div>-->
<!--                <div class="hair"></div>-->
<!--                <div class="ears"></div>-->
<!--                <div class="shirt-1"></div>-->
<!--                <div class="shirt-2"></div>-->
<!--            </figure>-->
        </form>
    </div>
    <div>
        {% else %}

        <section id="section-jumbotron"
                 class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
            <div class="container text-center">
                <h1 class="display-1 text-info">Let's Quiz</h1>
                <p class="display-4 d-none d-sm-block">Test your skills and become a master.</p>
                <p class="lead">We organize quizzes on various topics.</p>
                <a href="{% url 'quiz:play' %}" class="btn btn-lg btn-info mt-1">Let's play</a>
                <a href="{% url 'quiz:leaderboard' %}" class="btn btn-lg btn-info mt-1">Leaderboard</a>
            </div>
        </section>

        {% endif %}

        <!-- Vendor JS Files -->
        <script src="{%static 'assets/vendor/jquery/jquery.min.js'%}"></script>
        <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{%static 'assets/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
        <script src="{%static 'assets/vendor/php-email-form/validate.js'%}"></script>
        <script src="{%static 'assets/vendor/waypoints/jquery.waypoints.min.js'%}"></script>
        <script src="{%static 'assets/vendor/counterup/counterup.min.js'%}"></script>
        <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
        <script src="{%static 'assets/vendor/venobox/venobox.min.js'%}"></script>
        <script src="{%static 'assets/vendor/owl.carousel/owl.carousel.min.js'%}"></script>

        <!-- Template Main JS File -->
        <script src="https://kit.fontawesome.com/23cd0e260d.js" crossorigin="anonymous"></script>
        <script src="{%static 'assets/js/main.js'%}"></script>
        <script src="{%static 'assets/js/jquery.min.js'%}"></script>
        <script src="{%static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
    </div>
</div>
</body>
</html>